.cover__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  justify-content: center;
  overflow: visible;
  flex-direction: column;
}
